.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container2 {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img {
    width: 98%;
    /*object-fit: scale-down;*/
    max-height: 160px;
    min-height: 160px;
    border-radius:4px;
    object-fit: cover;
    object-position:bottom;
}

.typoContainer{
    justify-content: flex-start;
    width: 98%;
    padding: 10px;
    height:70px;
    transition: 0.5ms;
    position: absolute;
    bottom: 0;
    left: 0;
}
.typoContainer2{
    justify-content: flex-start;
    width: 98%;
    padding: 10px;
    height:70px;
    transition: 0.5ms;
}

.playIcon{
    height:45px;
    width:45px;
}


