.header {
    backdrop-filter: blur(10px);
    height: 73px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 0 2% 0 0;
    z-index: 100;
    right: 10px;
}

.logoLink{
    cursor:pointer;
}

.logo{
    transform:scale(0.8,0.8) ;
    /*height: 50%;*/
    /*width: 90%;*/
}

.btn{
    text-transform: capitalize!important;
}