:root{
  --first-color:#3f7ec0;
}

html {
  height: 100%;
  width: 100%;
  display: flex!important;
  overflow: hidden!important;
}

.root,div.root,#root {
  height: 100%;
  width: 100%;
  display: flex!important;
  flex:1;
  overflow: hidden!important;
}


body {
  overflow: hidden!important;
  background: black!important;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto','Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}


{
  scrollbar-width: auto;
  scrollbar-color: #555355 transparent;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent!important;
}

::-webkit-scrollbar-thumb {
  background-color: #555355;
  border-radius: 10px;
}

