.inputWithButton{
    background: white;
    color: black!important;
    padding-right: 0!important;
    height: 40px;
    margin-top: 20px;
}

.inputWithButtonNoMargin{
    background: white;
    color: black!important;
    padding-right: 0!important;
    height: 52px;
}

.inputWithoutButton{
    max-width: 300px ;
    height: 40px;
}

.inputWithButtonInHeader{
    padding-right: 0!important;
    height: 40px;
    /*margin-top: 20px;*/
    min-width: 300px ;
}